<h3>Product List
    <a href="/product" class="btn btn-danger">
        <i class="fa fa-plus"> </i> Create New
    </a>
    
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Name</th>
            <th>Description</th>
            {{!-- <th>Image</th> --}}
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            {{!-- <td> {{this.image}}</td> --}}
            <td>{{this.price}}</td>
            <td>
                <a href="/product/{{this._id}}">
                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                </a>
                <a href="/product/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record?');">
                    <i class="fa fa-trash fa-lg" aria-hidden="true">

                    </i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>